/*STOP EDIT*/
/*This will stop the edit button being used on the element with the CSS JS*/
[id='contentListItem:_1173870_1'] a {
  pointer-events: none;
  cursor: default;
  display: none;
  }

/*ADULT FIELD*/
/*Year 1*/



[id='contentListItem:_1249214_1']{
background:  #cce6ff
!important;
  }

/*CHILD FIELD*/
/*Year 1*/
[id='contentListItem:_1060859_1'] img { 

  }

[id='contentListItem:_1060859_1']{
background:  #ffcccc
!important;
  }

/*LEARNING DISABILITY FIELD*/
/*Year 1*/
[id='contentListItem:_1060912_1'] img { 

  }

[id='contentListItem:_1060912_1']{
background:  #ffffcc
!important;
  }

/*MENTAL HEALTH FIELD*/
/*Year 1*/
[id='contentListItem:_1062275_1'] img { 

  }

[id='contentListItem:_1062275_1']{
background:  #d6f5d6
!important;
  }
